@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-static: 0, 0, 0;
}


.light{
  --foreground-rgb: 0, 0, 0;
  --background-static: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-static));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
